/* Bỏ hiệu ứng màu xen kẽ giữa các hàng của bảng cho cột `name` */
.o_list_view tr td.o_list_field_name {
    background-color: inherit !important; /* Kế thừa màu nền đồng nhất */
    color: #335591; /* Màu chữ đen, hoặc tùy chỉnh màu mong muốn */
    font-weight: bold;
}

/* Định dạng cho nút */
.o_list_view .btn-primary-custom {
    background-color: #28a745; /* Màu xanh lá cây cho nút */
    border-color: #28a745;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: #fff; /* Màu chữ trắng cho nút */
}

/* Định dạng khi hover nút */
.o_list_view .btn-primary-custom:hover {
    background-color: #218838; /* Màu xanh lá cây đậm khi hover */
    border-color: #1e7e34;
}

.o_dynamic_fields_container {
    margin-top: 20px;
}

.o_dynamic_field {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.o_field_label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.invisible_button{
    background-color: transparent;
    border: none;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.custom-col-9 {
    flex: 0 0 auto;
    width: 82%;
    margin-left: 28px; 
}
  
.custom-kanban-text {
    text-align: justify;
    color: #222222;
}

.custom-o_kanban_image {
    margin-left: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.custom-approval-button {
    border: 2px solid #009900;
    background-color: #009900;
    color: white;
    font-size: 16px;
    padding: 6px 24px;
    border-radius: 5px;
}

.custom-refuse-button {
    border: 2px solid #cc3300;
    background-color: #cc3300;
    color: white;
    font-size: 16px;
    padding: 6px 24px;
    border-radius: 5px;
}

.custom-cancel-button {
    border: 2px solid #6c757d;
    background-color: #6c757d;
    color: white;
    font-size: 16px;
    padding: 6px 24px;
    border-radius: 5px;
}

/* Thêm người theo dõi vào đề  xuất */
.highlight_follower {
    border: 1px dashed #6c48c5;
    padding: 5px;
    background-color: #f9f7ff;
    border-radius: 5px;
}

.o_field_properties {
    box-shadow: none;
    transition: none; /* Loại bỏ hiệu ứng hover */
}


/* Loại bỏ khoảng trắng phía trên notebook trong form Odoo */
.o_form_view .o_form_sheet_bg {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.o_form_view .o_notebook {
    margin-top: 0 !important;
}
.o_form_view .o_form_sheet {
    margin-top: 0 !important;
    padding-top: 0 !important;
}