.o_custom_kanban.o_kanban_renderer {
    .o_kanban_record {
        width: 400px !important;

        }
}

.o_custom_warehouse_kanban .o_kanban_renderer {
    --KanbanRecord-width: 250px;
}
.o_custom_warehouse_small_kanban .o_kanban_renderer {
    --KanbanRecord-width: 180px;
}
.my_kanban_card {
    position: relative;
    width: 180px;
    height: 260px; // tăng chiều cao
    border-radius: 10px; // bo tròn góc
    border: 1.5px solid #e0e0e0; // viền nhẹ
    box-shadow: 0 2px 8px rgba(0,0,0,0.07); // bóng nhẹ
    background: #fff;
    transition: box-shadow 0.2s;
    margin: 8px;
    overflow: hidden;
}
.my_kanban_card:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.13);
    border-color: #bdbdbd;
}
.my_overlay_button {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

/*
.o_custom_employee3c_small_kanban .o_kanban_renderer {
    --KanbanRecord-width: 150px !important;
}

.o_custom_timeoff_policy_kanban .o_kanban_renderer {
    .o_kanban_record > div:not(.o_dropdown_kanban),
    .o_kanban_quick_create {
        border: 0px;
        background-color: $o-view-background-color;
    }
    .o_kanban_record {
        .o_dropdown_kanban {
            .dropdown-menu {
                border: $border-width solid $border-color;
            }
            }
        }
}
        */